<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pablo_lucas.com.aprendefacil">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SoporteActivity"
            android:exported="false"
            android:label="Enviar correo al soporte" />
        <activity
            android:name=".EncuestasActivity"
            android:exported="false"
            android:label="Enviar sugerencias al programador" />
        <activity
            android:name=".Activity.RecuperarPasswordActivity"
            android:exported="false"
            android:label="Recuperar mi cuenta" />
        <activity
            android:name=".EliminarActivity"
            android:exported="false"
            android:label="Eliminar mi cuenta" />
        <activity
            android:name=".Activity.ActualizarPerfilActivity"
            android:exported="false"
            android:label="Actualizar" />
        <activity
            android:name=".Activity.PerfilActivity"
            android:exported="false"
            android:label="Mi Perfil" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="Inicio de Sesión">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MenuActivity"
            android:label="Home" />
        <activity
            android:name=".Activity.RegistroActivity"
            android:label="Registrarse" />
    </application>

</manifest>